body{
    margin:0;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.topnav
{
    overflow:hidden;
    background-color:burlywood;
}
.topnav a
{
    float:left;
    color:brown;
    text-align:center;
    padding:16px 16px;
    text-decoration:none;
    font-size:17px;
}
.topnav a:hover
{ 
    background-color:aquamarine;
    color:darkblue;
}
.topnav a.active{
    background-color:bisque;
    color:darkgreen;
}
h1{
    color:darkorange;
    background-color:limegreen;
}

.pimg1{
    position:relative;
    opacity:0.70;
    height:500px;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.pimg1{
    background-image: url("360_F_84567014_PSyDZ3rdOvozxyeOZkKxza1hIH37WZrl.jpg");
    min-height:500px;
}
.section{
    text-align:center;
    padding:50px 80px;
}
.section-dark{
    background-color:darkkhaki;
    color:white
}




.footer{
    background-color:black;
    color:white;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:0;
    width:100%;
}
body{
    background-color:green;
    font-family:serif;
    font-optical-sizing:auto;
    font-style:normal;
}